    @font-face {
        font-family: My font;
        src: url(Fonts/DancingScript-VariableFont_wght.ttf);
    }

    body{
        background-color: lightgray;
        font-family: 'My font';
        color: darkslategray;
    }

    a:hover {
        text-decoration: none;
        font-size: 20px;
        text-shadow: 2px 2px 4px rgb(163, 14, 14);
        
    }
    .shadow{
        text-shadow: 3px 3px 8px black;
    }